.classpath
.project
.settings/
eclipse/
tmp/
precompiled/
desktop.ini
.DS_Store
conf/ssh
conf/app.d/*
conf/application.conf
conf/dependencies.yml
conf/*.db
public/img/personalized/*
Test.java
play-new-password.txt
public/javascripts/bin/*
