.classpath
.project
.settings/
eclipse/
tmp/
precompiled/
desktop.ini
.DS_Store
conf/ssh
conf/app.d/*
conf/application.conf
conf/dependencies.yml
conf/*.db
conf/log4j.xml
conf/account_export.xml
public/img/personalized/*
Test.java
play-new-password.txt
*.iml
*.ipr
*.iws
public/javascripts/src/react.*.jsx.js
logs/
server.pid
