.classpath
.project
.settings/
eclipse/
tmp/
precompiled/
desktop.ini
.DS_Store
Thumbs.db
conf/ssh
conf/app.d/*
conf/application.conf
conf/dependencies.yml
conf/*.db
conf/log4j.xml
conf/account_export.xml
conf/jsfiles.json
conf/build.properties
public/img/personalized/*
Test.java
play-new-password.txt
*.iml
*.ipr
*.iws
public/javascripts/_transformed/*
public/javascripts/_reduced/*.js
logs/
server.pid
node_modules/
build/
startup/WinRun4J64.exe
startup/WinRun4J64c.exe
startup/RCEDIT64.exe
startup/setup.ini
startup/setup.bash
startup/*.service
pack/
src/
databaseredist/