[Unit]
Description=MyDMAM Server
After=network.target auditd.service

[Service]
EnvironmentFile=/etc/default/mydmam
ExecStart=/usr/bin/java -Dfile.encoding=UTF-8 ${CONFIG_PATH} -classpath ${CLASSPATH} hd3gtv.mydmam.server.MainClass

[Install]
WantedBy=multi-user.target
Alias=mydmam-server.service

