#{field 'object.' + _name}

<select id="${field.name}" name="${field.name}" multiple="multiple" size="5">
	#{list items:_property, as:'item' }
		%{
		
		containtkey = false;
    	if (_value != null) {
    		if (_value.length > 0) {
    			_value.each() {
    				if (item.key == it) {
    					containtkey = true;
    				}
    			}
			}
		}
			selected = false;
			if(field.error?.message != 'validation.required') {
				selected = containtkey;
			}
		}%
		<option value="${item.key}" ${selected ? 'selected="true"'.raw() : ''}>${item.value}</option>
	#{/list}
</select>

#{/field}
