acapi:
    host: 192.168.0.1 # ACAPI hostname or IP
    user: admin       # ACAPI username
    password: 1234    # ACAPI password
    port: 8081        # ACAPI http port
    bridge: 
        -
            storage: MyArchiveStorage
            share: myarchstorage
            path: /archived
    # default_destage_node: node1 # Use this node by default for destage files

#acapi_node_host_names_map:
#    node1: node-1.local
#    node2: node-2.local
