executables:
    ffmpeg : /usr/bin/ffmpeg
    ffprobe : /usr/bin/ffprobe
    qtfaststart : /usr/bin/qt-faststart
    convert : /usr/bin/convert
    mxf2raw: /usr/bin/mxf2raw
    bmxtranswrap: /usr/bin/bmxtranswrap

