executables:
    ffmpeg : /usr/bin/ffmpeg
    ffprobe : /usr/bin/ffprobe
    qtfaststart : /usr/bin/qt-faststart
    convert : /usr/bin/convert
    mxf2raw: /usr/bin/mxf2raw
    bmxtranswrap: /usr/bin/bmxtranswrap

# Use exepath for add to current PATH (for Java only) some local or external binary path and avoid to add manually executables.
#execpath:
#    sets:
#        - App/bin
#        - App/macport/bin
