ftpserver:
    master_password_key: "change me please"   # all instances should have the same master_password_key if you want to login/create accounts/change password accross multiple instances.

ftpserverinstances:
    default:                           # the "domain" name for group users name to avoid conflicts if you want multiple same user name.
        listen: 21                     # FTP port to listen. 21 by default. Must be open in firewall and NATed.
        active: 0.0.0.0:20             # The FTP adress and port to transfert datas. Port should be listen port - 1. 20 by default. Must be open in firewall and NATed.
        idle: 300                      # How much time to wait ?
        passive-internal: 0.0.0.0      # The address to listen passive connection. Address should be the same as active. Must be open in firewall and NATed.
        passive-external: 0.0.0.0      # The external, public, IP address to access to this server. FTP server will send this to clients during passive data transferts.
        passive-ports: 30000-40000     # The internal TCP ports range to use for passive data transferts. Must be open in firewall and NATed.


ftpservergroups:
    group1:                           # rule for a group of FTP accounts, apply only for this current instance.
        base_working_dir: /var/ftp    # Location for all FTP accounts
        disabled: false               # true for disable all logins for this group
        # account_expiration_trash_duration: 300     # seconds to wait before move to trash an old FTP account
        # account_expiration_purge_duration: 120     # seconds to wait before DELETE an old FTP account
        # account_expiration_based_on_last_activity: false  # set true if expiration is based on last login or false for creation date
        # min_disk_space_before_warn: 100000000      # In bytes. A warn will be send if base_working_dir is nearly full
        # min_disk_space_before_stop: 10000000       # In bytes. This current instance of MyDMAM will be stopped if base_working_dir is full.
        # pathindex_storagename_for_live_update: FTP Group 1  # set if you want to indexing FTP accounts, with this storage name
        # domain_isolation: false                    # If you want use separate directories for each domain (by example if base_working_dir is splitted between with differents mounts).
        # short_activity_log: false                  # Set true if you don't want keep FTP activities logs during a long time.
    # you can add many groups
