storage:
    apply: debug
    
    storage1 : 
        type : smb
        host : 192.168.0.1
        path : /storage1
        username : usr
        password : passwd
        readonly : true

    storage2 :
        type : file
        path : /mnt/storage2
        readonly : true
