transcoding_probe:
    maxpresencewaittime : 300
    sourcelocalfiles : /mnt/storage1
    deststorage : testfile
    templocaldir : /tmp

imagemagick_limits:
    memory: 256MB
    disk: 4000MB
    file: 50
    time: 120

transcodingprofiles:
    ffmpeg_vod : 
        command : "-progress <%$PROGRESSFILE%> -i <%$INPUTFILE%> -i <%$VAR=logo%> -s 640x360 -codec:v h264 -b:v 400k -codec:a libfaac -b:a 128k -f mp4 <%$OUTPUTFILE%>"
        logo : /opt/logo 16-9 720x576.png
        extension : mp4
        executable : ffmpeg
    ffmpeg_snapshot_first : 
        command : "-i <%$INPUTFILE%> -y -vf <%$FILTERS%> -frames:v 1 <%$OUTPUTFILE%>"
        extension : png
        executable : ffmpeg
    ffmpeg_lowres_lq : 
        command : "-i <%$INPUTFILE%> -threads 8 -slices 4 -y -progress <%$PROGRESSFILE%> -filter_complex <%$AUDIOMAPFILTER%> -vf <%$FILTERS%> -pix_fmt yuv420p -aspect 16:9 -s 384x216 -codec:v h264 -b:v 200k -g 250 -bf 3 -codec:a libfaac -b:a 64k -f mp4 <%$OUTPUTFILE%>"
        extension : mp4
        output : 
            width : 384
            height : 216
            faststart : true
        executable : ffmpeg
    ffmpeg_lowres_sd : 
        command : "-i <%$INPUTFILE%> -threads 8 -slices 4 -y -progress <%$PROGRESSFILE%> -filter_complex <%$AUDIOMAPFILTER%> -vf <%$FILTERS%> -pix_fmt yuv420p -aspect 16:9 -s 640x360 -codec:v h264 -b:v 400k -g 250 -bf 3 -codec:a libfaac -b:a 128k -f mp4 <%$OUTPUTFILE%>"
        extension : mp4
        output : 
            width : 640
            height : 360
            faststart : true
        executable : ffmpeg
    ffmpeg_lowres_hd : 
        command : "-i <%$INPUTFILE%> -threads 8 -slices 4 -y -progress <%$PROGRESSFILE%> -filter_complex <%$AUDIOMAPFILTER%> -vf <%$FILTERS%> -pix_fmt yuv420p -aspect 16:9 -s 1280x720 -codec:v h264 -b:v 3500k -g 250 -bf 3 -codec:a libfaac -b:a 256k -f mp4 <%$OUTPUTFILE%>"
        extension : mp4
        output : 
            width : 1280
            height : 720
            faststart : true
        executable : ffmpeg
    ffmpeg_lowres_audio : 
        command : "-i <%$INPUTFILE%> -y -progress <%$PROGRESSFILE%> -filter_complex <%$AUDIOMAPFILTER%> -codec:a libfaac -b:a 96k -ac 2 -f mp4 <%$OUTPUTFILE%>"
        extension : aac
        output : 
            faststart : true
        executable : ffmpeg
    ffmpeg_album_artwork : 
        command : "-i <%$INPUTFILE%> -y -q:v 1 -vcodec mjpeg -f image2 <%$OUTPUTFILE%>"
        extension : jpg
        executable : ffmpeg

    convert_full_display : 
        command : "<%$INPUTFILE%>[0] -thumbnail 800x800 -profile <%$ICCPROFILE%> -strip -density 72x72 -units PixelsPerInch -interlace plane -sampling-factor 2:1:1 -quality 80 <%$OUTPUTFILE%>"
        extension : jpg
        output : 
            width : 800
            height : 800
        executable : convert
    convert_cartridge : 
        command : "<%$INPUTFILE%>[0] -thumbnail 300x300 -profile <%$ICCPROFILE%> -strip -density 72x72 -units PixelsPerInch -interlace plane -sampling-factor 2:1:1 -quality 80 <%$OUTPUTFILE%>"
        extension : jpg
        output : 
            width : 300
            height : 300
        executable : convert
    convert_icon : 
        command : "<%$INPUTFILE%>[0] -thumbnail 64x64 -profile <%$ICCPROFILE%> -strip -density 72x72 -units PixelsPerInch -interlace plane -sampling-factor 4:1:1 -quality 80 <%$OUTPUTFILE%>"
        extension : jpg
        output : 
            width : 64
            height : 64
        executable : convert
    convert_full_display_alpha : 
        command : "<%$INPUTFILE%>[0] -thumbnail 800x800 -profile <%$ICCPROFILE%> null: ( -brightness-contrast 30x60 -size 1600x1600 -resize 800x800 pattern:CHECKERBOARD ) -compose Dst_Over -layers composite -strip -density 72x72 -units PixelsPerInch -interlace plane -sampling-factor 2:1:1 -quality 80 <%$OUTPUTFILE%>"
        extension : jpg
        output : 
            width : 800
            height : 800
        executable : convert
    convert_cartridge_alpha : 
        command : "<%$INPUTFILE%>[0] -thumbnail 300x300 -profile <%$ICCPROFILE%> null: ( -brightness-contrast 30x60 -size 600x600 -resize 300x300 pattern:CHECKERBOARD ) -compose Dst_Over -layers composite -strip -density 72x72 -units PixelsPerInch -interlace plane -sampling-factor 2:1:1 -quality 80 <%$OUTPUTFILE%>"
        extension : jpg
        output : 
            width : 300
            height : 300
        executable : convert
    convert_icon_alpha : 
        command : "<%$INPUTFILE%>[0] -thumbnail 64x64 -profile <%$ICCPROFILE%> null: ( -brightness-contrast 30x60 -size 128x128 -resize 64x64 pattern:CHECKERBOARD ) -compose Dst_Over -layers composite -strip -density 72x72 -units PixelsPerInch -interlace plane -sampling-factor 4:1:1 -quality 80 <%$OUTPUTFILE%>"
        extension : jpg
        output : 
            width : 64
            height : 64
        executable : convert
    convert_personalizedsize : 
        command : "<%$INPUTFILE%>[0] -thumbnail <%$THUMBNAILSIZE%> -profile <%$ICCPROFILE%> -strip -density 72x72 -units PixelsPerInch -interlace plane -sampling-factor 2:1:1 -quality 80 <%$OUTPUTFILE%>"
        extension : jpg
        executable : convert
    convert_personalizedsize_alpha : 
        command : "<%$INPUTFILE%>[0] -thumbnail <%$THUMBNAILSIZE%> -profile <%$ICCPROFILE%> null: ( -brightness-contrast 30x60 -size <%$CHECKERBOARDSIZE%> -resize <%$THUMBNAILSIZE%> pattern:CHECKERBOARD ) -compose Dst_Over -layers composite -strip -density 72x72 -units PixelsPerInch -interlace plane -sampling-factor 2:1:1 -quality 80 <%$OUTPUTFILE%>"
        extension : jpg
        executable : convert
#    tar_test : 
#        command : "cf <%$OUTPUTFILE%> <%$INPUTFILE%>"
#        extension : tar
#        executable : tar
#        # current_directory_mode: input # none | input | output

transcodingworkers:
    temp_directory: /tmp
    instances:
        -
            profiles: [ffmpeg_lowres_lq]
            count: 1

watchfoldertranscoder:
    example1:
        source_storage: StorageIn
        targets:
            -
                storage: StorageOut
                profile: ffmpeg_lowres_lq
                #dest_file_prefix: F_
                #dest_file_suffix: _S
                #keep_input_dir_to_dest: true
        time_to_wait_growing_file: 1000
        time_to_sleep_between_scans: 10000
        min_file_size: 10000
        must_contain: [video, audio] # or "video", or ["video"], or "audio" for audio only. In lowercase.
        # limit_to_file_extentions: mxf # or [mov, mp4] but without the dot.

