useraction:
    workers_activated:
        -
            class:
                - mypackage.sub.UAClassName
            name:
                - MyItem
        -
            class:
                - myotherpackages.allclasses
                - hd3gtv.mydmam.mail
            name:
                - MyItem1
                - MyItem2
        -
            class:
                - myotherpackages.allclasses
        -
            name:
                - MyItem3
                - MyItem4
        # ...
    uadummy:
        file: ok
        dir: ok
        root: ok
        mustbridge: ok
        # showonly: storage2

# useraction_workers -> activated (list)
    # - worker 1 functionalities
    # - worker 2 functionalities
    # - ...
#
# worker functionalities: class and/or name
#
# class (list): if declared functionality (in fonctionalities list) implement this class, added it to this worker.
# If you set a package name, all functionality class in it will be added it to this worker.
# name (list): if declared functionality (in fonctionalities list) has this name, add it to this worker.
#
# You can set the same functionality in many workers, or not if disabled.
# You can't set the same functionality many times in the same worker.
