<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
  <appender name="console-stdout" class="org.apache.log4j.ConsoleAppender"> 
    <param name="Target" value="System.out"/> 
    <layout class="hd3gtv.mydmam.log.MyDMAMPatternLayout" />
    <filter class="org.apache.log4j.varia.LevelRangeFilter">
      <param name="LevelMin" value="TRACE" />
      <param name="LevelMax" value="INFO" />
    </filter>
  </appender> 

  <appender name="console-stderr" class="org.apache.log4j.ConsoleAppender"> 
    <param name="Target" value="System.err"/> 
    <layout class="hd3gtv.mydmam.log.MyDMAMPatternLayout" />
    <filter class="org.apache.log4j.varia.LevelRangeFilter">
      <param name="LevelMin" value="WARN" />
      <param name="LevelMax" value="FATAL" />
    </filter>
  </appender> 

  <root> 
    <!-- <priority value="ERROR" /> --> 
    <priority value="TRACE" /> 
    <appender-ref ref="console-stdout" /> 
    <appender-ref ref="console-stderr" /> 
  </root>
  
</log4j:configuration>