<!DOCTYPE html>

<html>
    <head>
        <title>%{out.print(hd3gtv.mydmam.web.HeaderJS.INSTANCE.getMessageForCurrentUserLocale("site.errorpage.notfound"))}%</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>    
    </head>
    <body>
        #{if play.mode.name() == 'DEV'}
            #{404 result /}
        #{/if}
        #{else}
            <h1>%{out.print(hd3gtv.mydmam.web.HeaderJS.INSTANCE.getMessageForCurrentUserLocale("site.errorpage.notfound"))}%</h1>
            <p>
                ${result.message}
            </p>
        #{/else}
    </body>
</html>
