<!DOCTYPE html>

<html>
    <head>
        <title>%{out.print(hd3gtv.mydmam.web.HeaderJS.INSTANCE.getMessageForCurrentUserLocale("site.errorpage.applicationerror"))}%</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>	
    </head>
    <body>
        #{if play.mode.name() == 'DEV'}
            #{500 exception /}
        #{/if}
        #{else}
            <h1>%{out.print(hd3gtv.mydmam.web.HeaderJS.INSTANCE.getMessageForCurrentUserLocale("site.errorpage.oops"))}%</h1>
            #{if exception instanceof play.exceptions.PlayException}
                <p>
                    %{out.print(hd3gtv.mydmam.web.HeaderJS.INSTANCE.getMessageForCurrentUserLocale("site.errorpage.exception"))}% <strong>${exception.id}</strong>.
                </p>
            #{/if}
        #{/else}
    </body>
</html>
